<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t("errors.recording_not_found.title") %></title>
  </head>
  <body>
    <h1 style="text-align: center;"><%= t("errors.recording_not_found.title") %></h1>
    <h3 style="text-align: center;"><%= t("errors.recording_not_found.info") %></h3>
    <hr>
  </body>
</html>
